footer{
    margin-top: auto;
    min-height: 16vh;
     background: $gradiente;
    div{
        .redes_sociales img{ 
 
            width:40px;
            height: 40px;
        }
    }
 } 
 

 